<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.keeppeek</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/keeppeek</string>
	</array>
	<key>UserName</key>
	<string></string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string></string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardOutPath</key>
	<string>/var/log/keeppeek.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/keeppeek-error.log</string>
</dict>
</plist>
